TigoColombia/TigoColombia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.webscp.gatewaytigo.tigo.com.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.webscp.gatewaytigo.tigo.com.co/" name="GatewayTigoScpWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.webscp.gatewaytigo.tigo.com.co/" schemaLocation="GatewayTigoScpWSInt.xsd"/>
</xsd:schema>
</types>
<message name="transfer">
<part name="parameters" element="tns:transfer"/>
</message>
<message name="transferResponse">
<part name="parameters" element="tns:transferResponse"/>
</message>
<message name="GatewayPrepayWSException">
<part name="fault" element="tns:GatewayPrepayWSException"/>
</message>
<message name="BusinessException">
<part name="fault" element="tns:BusinessException"/>
</message>
<message name="credit">
<part name="parameters" element="tns:credit"/>
</message>
<message name="creditResponse">
<part name="parameters" element="tns:creditResponse"/>
</message>
<message name="eBalance">
<part name="parameters" element="tns:eBalance"/>
</message>
<message name="eBalanceResponse">
<part name="parameters" element="tns:eBalanceResponse"/>
</message>
<message name="balance">
<part name="parameters" element="tns:balance"/>
</message>
<message name="balanceResponse">
<part name="parameters" element="tns:balanceResponse"/>
</message>
<message name="applicationEvent">
<part name="parameters" element="tns:applicationEvent"/>
</message>
<message name="applicationEventResponse">
<part name="parameters" element="tns:applicationEventResponse"/>
</message>
<message name="eventAuthorization">
<part name="parameters" element="tns:eventAuthorization"/>
</message>
<message name="eventAuthorizationResponse">
<part name="parameters" element="tns:eventAuthorizationResponse"/>
</message>
<message name="debit">
<part name="parameters" element="tns:debit"/>
</message>
<message name="debitResponse">
<part name="parameters" element="tns:debitResponse"/>
</message>
<message name="recharge">
<part name="parameters" element="tns:recharge"/>
</message>
<message name="rechargeResponse">
<part name="parameters" element="tns:rechargeResponse"/>
</message>
<message name="rechargeReversal">
<part name="parameters" element="tns:rechargeReversal"/>
</message>
<message name="rechargeReversalResponse">
<part name="parameters" element="tns:rechargeReversalResponse"/>
</message>
<message name="eRecharge">
<part name="parameters" element="tns:eRecharge"/>
</message>
<message name="eRechargeResponse">
<part name="parameters" element="tns:eRechargeResponse"/>
</message>
<message name="eRechargeReversal">
<part name="parameters" element="tns:eRechargeReversal"/>
</message>
<message name="eRechargeReversalResponse">
<part name="parameters" element="tns:eRechargeReversalResponse"/>
</message>
<message name="adjustment">
<part name="parameters" element="tns:adjustment"/>
</message>
<message name="adjustmentResponse">
<part name="parameters" element="tns:adjustmentResponse"/>
</message>
<message name="provideBonus">
<part name="parameters" element="tns:provideBonus"/>
</message>
<message name="provideBonusResponse">
<part name="parameters" element="tns:provideBonusResponse"/>
</message>
<message name="provideUsers">
<part name="parameters" element="tns:provideUsers"/>
</message>
<message name="provideUsersResponse">
<part name="parameters" element="tns:provideUsersResponse"/>
</message>
<message name="provideProperties">
<part name="parameters" element="tns:provideProperties"/>
</message>
<message name="providePropertiesResponse">
<part name="parameters" element="tns:providePropertiesResponse"/>
</message>
<message name="consultBonus">
<part name="parameters" element="tns:consultBonus"/>
</message>
<message name="consultBonusResponse">
<part name="parameters" element="tns:consultBonusResponse"/>
</message>
<message name="consultUsers">
<part name="parameters" element="tns:consultUsers"/>
</message>
<message name="consultUsersResponse">
<part name="parameters" element="tns:consultUsersResponse"/>
</message>
<message name="consultEUsersPromotions">
<part name="parameters" element="tns:consultEUsersPromotions"/>
</message>
<message name="consultEUsersPromotionsResponse">
<part name="parameters" element="tns:consultEUsersPromotionsResponse"/>
</message>
<message name="balanceToResource">
<part name="parameters" element="tns:balanceToResource"/>
</message>
<message name="balanceToResourceResponse">
<part name="parameters" element="tns:balanceToResourceResponse"/>
</message>
<message name="eTransfer">
<part name="parameters" element="tns:eTransfer"/>
</message>
<message name="eTransferResponse">
<part name="parameters" element="tns:eTransferResponse"/>
</message>
<message name="provideResources">
<part name="parameters" element="tns:provideResources"/>
</message>
<message name="provideResourcesResponse">
<part name="parameters" element="tns:provideResourcesResponse"/>
</message>
<message name="consultResources">
<part name="parameters" element="tns:consultResources"/>
</message>
<message name="consultResourcesResponse">
<part name="parameters" element="tns:consultResourcesResponse"/>
</message>
<message name="adviceOfCharge">
<part name="parameters" element="tns:adviceOfCharge"/>
</message>
<message name="adviceOfChargeResponse">
<part name="parameters" element="tns:adviceOfChargeResponse"/>
</message>
<message name="voucherRecharge">
<part name="parameters" element="tns:voucherRecharge"/>
</message>
<message name="voucherRechargeResponse">
<part name="parameters" element="tns:voucherRechargeResponse"/>
</message>
<message name="reservation">
<part name="parameters" element="tns:reservation"/>
</message>
<message name="reservationResponse">
<part name="parameters" element="tns:reservationResponse"/>
</message>
<message name="reservationCancel">
<part name="parameters" element="tns:reservationCancel"/>
</message>
<message name="reservationCancelResponse">
<part name="parameters" element="tns:reservationCancelResponse"/>
</message>
<message name="reservationModify">
<part name="parameters" element="tns:reservationModify"/>
</message>
<message name="reservationModifyResponse">
<part name="parameters" element="tns:reservationModifyResponse"/>
</message>
<message name="reservationQuery">
<part name="parameters" element="tns:reservationQuery"/>
</message>
<message name="reservationQueryResponse">
<part name="parameters" element="tns:reservationQueryResponse"/>
</message>
<message name="reservationUse">
<part name="parameters" element="tns:reservationUse"/>
</message>
<message name="reservationUseResponse">
<part name="parameters" element="tns:reservationUseResponse"/>
</message>
<portType name="GatewayTigoPortType">
<operation name="transfer">
<input message="tns:transfer"/>
<output message="tns:transferResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="credit">
<input message="tns:credit"/>
<output message="tns:creditResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="eBalance">
<input message="tns:eBalance"/>
<output message="tns:eBalanceResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="balance">
<input message="tns:balance"/>
<output message="tns:balanceResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="applicationEvent">
<input message="tns:applicationEvent"/>
<output message="tns:applicationEventResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="eventAuthorization">
<input message="tns:eventAuthorization"/>
<output message="tns:eventAuthorizationResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="debit">
<input message="tns:debit"/>
<output message="tns:debitResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="recharge">
<input message="tns:recharge"/>
<output message="tns:rechargeResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="rechargeReversal">
<input message="tns:rechargeReversal"/>
<output message="tns:rechargeReversalResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="eRecharge">
<input message="tns:eRecharge"/>
<output message="tns:eRechargeResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="eRechargeReversal">
<input message="tns:eRechargeReversal"/>
<output message="tns:eRechargeReversalResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="adjustment">
<input message="tns:adjustment"/>
<output message="tns:adjustmentResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="provideBonus">
<input message="tns:provideBonus"/>
<output message="tns:provideBonusResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="provideUsers">
<input message="tns:provideUsers"/>
<output message="tns:provideUsersResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="provideProperties">
<input message="tns:provideProperties"/>
<output message="tns:providePropertiesResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="consultBonus">
<input message="tns:consultBonus"/>
<output message="tns:consultBonusResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="consultUsers">
<input message="tns:consultUsers"/>
<output message="tns:consultUsersResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="consultEUsersPromotions">
<input message="tns:consultEUsersPromotions"/>
<output message="tns:consultEUsersPromotionsResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="balanceToResource">
<input message="tns:balanceToResource"/>
<output message="tns:balanceToResourceResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="eTransfer">
<input message="tns:eTransfer"/>
<output message="tns:eTransferResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="provideResources">
<input message="tns:provideResources"/>
<output message="tns:provideResourcesResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="consultResources">
<input message="tns:consultResources"/>
<output message="tns:consultResourcesResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="adviceOfCharge">
<input message="tns:adviceOfCharge"/>
<output message="tns:adviceOfChargeResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="voucherRecharge">
<input message="tns:voucherRecharge"/>
<output message="tns:voucherRechargeResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="reservation">
<input message="tns:reservation"/>
<output message="tns:reservationResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="reservationCancel">
<input message="tns:reservationCancel"/>
<output message="tns:reservationCancelResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="reservationModify">
<input message="tns:reservationModify"/>
<output message="tns:reservationModifyResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="reservationQuery">
<input message="tns:reservationQuery"/>
<output message="tns:reservationQueryResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
<operation name="reservationUse">
<input message="tns:reservationUse"/>
<output message="tns:reservationUseResponse"/>
<fault message="tns:GatewayPrepayWSException" name="GatewayPrepayWSException"/>
<fault message="tns:BusinessException" name="BusinessException"/>
</operation>
</portType>
<binding name="GatewayTigoPortTypePortBinding" type="tns:GatewayTigoPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="transfer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="credit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="eBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="balance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="applicationEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="eventAuthorization">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="debit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="recharge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="rechargeReversal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="eRecharge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="eRechargeReversal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="adjustment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="provideBonus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="provideUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="provideProperties">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="consultBonus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="consultUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="consultEUsersPromotions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="balanceToResource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="eTransfer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="provideResources">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="consultResources">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="adviceOfCharge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="voucherRecharge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="reservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="reservationCancel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="reservationModify">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="reservationQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="reservationUse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GatewayPrepayWSException">
<soap:fault name="GatewayPrepayWSException" use="literal"/>
</fault>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
</binding>
<service name="GatewayTigoScpWS">
<port name="GatewayTigoPortTypePort" binding="tns:GatewayTigoPortTypePortBinding">
<soap:address location="https://190.102.199.83:7002/gatewaytigoscpint/GatewayTigoScpWSInt"/>
</port>
</service>
</definitions>
