wsdl/BUYPACK.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.claro.com.hn/esb/ws/packages/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.claro.com.hn/esb/ws/packages/" name="ESBWS">
<types>
<xsd:schema>
<xsd:import namespace="http://www.claro.com.hn/esb/ws/packages/" schemaLocation="BUYPACK.xsd"/>
</xsd:schema>
</types>
<message name="buyPack">
<part name="parameters" element="tns:buyPack"/>
</message>
<message name="buyPackResponse">
<part name="parameters" element="tns:buyPackResponse"/>
</message>
<message name="getListPacks">
<part name="parameters" element="tns:getListPacks"/>
</message>
<message name="getListPacksResponse">
<part name="parameters" element="tns:getListPacksResponse"/>
</message>
<message name="validateOperation">
<part name="parameters" element="tns:validateOperation"/>
</message>
<message name="validateOperationResponse">
<part name="parameters" element="tns:validateOperationResponse"/>
</message>
<portType name="BUYPACK">
<operation name="buyPack">
<input wsam:Action="http://www.claro.com.hn/esb/ws/packages/BUYPACK/buyPackRequest" message="tns:buyPack"/>
<output wsam:Action="http://www.claro.com.hn/esb/ws/packages/BUYPACK/buyPackResponse" message="tns:buyPackResponse"/>
</operation>
<operation name="getListPacks">
<input wsam:Action="http://www.claro.com.hn/esb/ws/packages/BUYPACK/getListPacksRequest" message="tns:getListPacks"/>
<output wsam:Action="http://www.claro.com.hn/esb/ws/packages/BUYPACK/getListPacksResponse" message="tns:getListPacksResponse"/>
</operation>
<operation name="validateOperation">
<input wsam:Action="http://www.claro.com.hn/esb/ws/packages/BUYPACK/validateOperationRequest" message="tns:validateOperation"/>
<output wsam:Action="http://www.claro.com.hn/esb/ws/packages/BUYPACK/validateOperationResponse" message="tns:validateOperationResponse"/>
</operation>
</portType>
<binding name="BUYPACKPortBinding" type="tns:BUYPACK">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buyPack">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListPacks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateOperation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ESBWS">
<port name="BUYPACKPort" binding="tns:BUYPACKPortBinding">
<soap:address location="http://172.16.194.252:28081/ESBWS/BUYPACK"/>
</port>
</service>
</definitions>