wsdl/Claro_CALA.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.claro.com.hn/esb/ws/topups/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.claro.com.hn/esb/ws/topups/" name="ESBWS">
<types>
<xsd:schema>
<xsd:import namespace="http://www.claro.com.hn/esb/ws/topups/" schemaLocation="Claro_CALA.xsd1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.claro.com.hn/esb/ws/ops/" schemaLocation="Claro_CALA.xsd2"/>
</xsd:schema>
</types>
<message name="getTransaction">
<part name="parameters" element="tns:getTransaction"/>
</message>
<message name="getTransactionResponse">
<part name="parameters" element="tns:getTransactionResponse"/>
</message>
<message name="topup">
<part name="parameters" element="tns:topup"/>
</message>
<message name="topupResponse">
<part name="parameters" element="tns:topupResponse"/>
</message>
<message name="balanceEnquiry">
<part name="parameters" element="tns:balanceEnquiry"/>
</message>
<message name="balanceEnquiryResponse">
<part name="parameters" element="tns:balanceEnquiryResponse"/>
</message>
<message name="validateSubscriber">
<part name="parameters" element="tns:validateSubscriber"/>
</message>
<message name="validateSubscriberResponse">
<part name="parameters" element="tns:validateSubscriberResponse"/>
</message>
<message name="echo">
<part name="parameters" element="tns:echo"/>
</message>
<message name="echoResponse">
<part name="parameters" element="tns:echoResponse"/>
</message>
<portType name="TOPUPS">
<operation name="getTransaction">
<input wsam:Action="http://www.claro.com.hn/esb/ws/topups/TOPUPS/getTransactionRequest" message="tns:getTransaction"/>
<output wsam:Action="http://www.claro.com.hn/esb/ws/topups/TOPUPS/getTransactionResponse" message="tns:getTransactionResponse"/>
</operation>
<operation name="topup">
<input wsam:Action="http://www.claro.com.hn/esb/ws/topups/TOPUPS/topupRequest" message="tns:topup"/>
<output wsam:Action="http://www.claro.com.hn/esb/ws/topups/TOPUPS/topupResponse" message="tns:topupResponse"/>
</operation>
<operation name="balanceEnquiry">
<input wsam:Action="http://www.claro.com.hn/esb/ws/topups/TOPUPS/balanceEnquiryRequest" message="tns:balanceEnquiry"/>
<output wsam:Action="http://www.claro.com.hn/esb/ws/topups/TOPUPS/balanceEnquiryResponse" message="tns:balanceEnquiryResponse"/>
</operation>
<operation name="validateSubscriber">
<input wsam:Action="http://www.claro.com.hn/esb/ws/topups/TOPUPS/validateSubscriberRequest" message="tns:validateSubscriber"/>
<output wsam:Action="http://www.claro.com.hn/esb/ws/topups/TOPUPS/validateSubscriberResponse" message="tns:validateSubscriberResponse"/>
</operation>
<operation name="echo">
<input wsam:Action="http://www.claro.com.hn/esb/ws/topups/TOPUPS/echoRequest" message="tns:echo"/>
<output wsam:Action="http://www.claro.com.hn/esb/ws/topups/TOPUPS/echoResponse" message="tns:echoResponse"/>
</operation>
</portType>
<binding name="TOPUPSPortBinding" type="tns:TOPUPS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="topup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="balanceEnquiry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateSubscriber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="echo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ESBWS">
<port name="TOPUPSPort" binding="tns:TOPUPSPortBinding">
<soap:address location="http://172.16.204.204:28081/ESBWS/TOPUPS"/>
</port>
</service>
</definitions>
