wsdl/Claro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Recargas/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Recargas/" name="RecargasClaroService">
<types>
<xsd:schema>
<!--
<xsd:import namespace="http://Recargas/" schemaLocation="http://172.24.3.163:80/RecargasIDT_es/RecargasClaro?xsd=1" />
-->
<xsd:import namespace="http://Recargas/" schemaLocation="RecargasClaro.xsd1" />
</xsd:schema>
</types>
<message name="ConsultaTransacciones">
<part name="parameters" element="tns:ConsultaTransacciones" />
</message>
<message name="ConsultaTransaccionesResponse">
<part name="parameters" element="tns:ConsultaTransaccionesResponse" />
</message>
<message name="Venta">
<part name="parameters" element="tns:Venta" />
</message>
<message name="VentaResponse">
<part name="parameters" element="tns:VentaResponse" />
</message>
<message name="ConsultaSaldo">
<part name="parameters" element="tns:ConsultaSaldo" />
</message>
<message name="ConsultaSaldoResponse">
<part name="parameters" element="tns:ConsultaSaldoResponse" />
</message>
<message name="ReenvioMensajes">
<part name="parameters" element="tns:ReenvioMensajes" />
</message>
<message name="ReenvioMensajesResponse">
<part name="parameters" element="tns:ReenvioMensajesResponse" />
</message>
<message name="ConsultaTransaccion">
<part name="parameters" element="tns:ConsultaTransaccion" />
</message>
<message name="ConsultaTransaccionResponse">
<part name="parameters" element="tns:ConsultaTransaccionResponse" />
</message>
<message name="ConsultaSubscriptor">
<part name="parameters" element="tns:ConsultaSubscriptor" />
</message>
<message name="ConsultaSubscriptorResponse">
<part name="parameters" element="tns:ConsultaSubscriptorResponse" />
</message>
<message name="Queja">
<part name="parameters" element="tns:Queja" />
</message>
<message name="QuejaResponse">
<part name="parameters" element="tns:QuejaResponse" />
</message>
<portType name="RecargasClaro">
<operation name="ConsultaTransacciones">
<input wsam:Action="http://Recargas/RecargasClaro/ConsultaTransaccionesRequest" message="tns:ConsultaTransacciones" />
<output wsam:Action="http://Recargas/RecargasClaro/ConsultaTransaccionesResponse" message="tns:ConsultaTransaccionesResponse" />
</operation>
<operation name="Venta">
<input wsam:Action="http://Recargas/RecargasClaro/VentaRequest" message="tns:Venta" />
<output wsam:Action="http://Recargas/RecargasClaro/VentaResponse" message="tns:VentaResponse" />
</operation>
<operation name="ConsultaSaldo">
<input wsam:Action="http://Recargas/RecargasClaro/ConsultaSaldoRequest" message="tns:ConsultaSaldo" />
<output wsam:Action="http://Recargas/RecargasClaro/ConsultaSaldoResponse" message="tns:ConsultaSaldoResponse" />
</operation>
<operation name="ReenvioMensajes">
<input wsam:Action="http://Recargas/RecargasClaro/ReenvioMensajesRequest" message="tns:ReenvioMensajes" />
<output wsam:Action="http://Recargas/RecargasClaro/ReenvioMensajesResponse" message="tns:ReenvioMensajesResponse" />
</operation>
<operation name="ConsultaTransaccion">
<input wsam:Action="http://Recargas/RecargasClaro/ConsultaTransaccionRequest" message="tns:ConsultaTransaccion" />
<output wsam:Action="http://Recargas/RecargasClaro/ConsultaTransaccionResponse" message="tns:ConsultaTransaccionResponse" />
</operation>
<operation name="ConsultaSubscriptor">
<input wsam:Action="http://Recargas/RecargasClaro/ConsultaSubscriptorRequest" message="tns:ConsultaSubscriptor" />
<output wsam:Action="http://Recargas/RecargasClaro/ConsultaSubscriptorResponse" message="tns:ConsultaSubscriptorResponse" />
</operation>
<operation name="Queja">
<input wsam:Action="http://Recargas/RecargasClaro/QuejaRequest" message="tns:Queja" />
<output wsam:Action="http://Recargas/RecargasClaro/QuejaResponse" message="tns:QuejaResponse" />
</operation>
</portType>
<binding name="RecargasClaroPortBinding" type="tns:RecargasClaro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="ConsultaTransacciones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Venta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultaSaldo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ReenvioMensajes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultaTransaccion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultaSubscriptor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Queja">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="RecargasClaroService">
<port name="RecargasClaroPort" binding="tns:RecargasClaroPortBinding">
<soap:address location="http://devcall02.ixtelecom.com/ClaroSoap/RecargasClaro.php" />
</port>
</service>
</definitions>
