DIGICEL/DigicelSV-DTS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.dtsws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.dtsws/" name="DirectTopupSystemService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.dtsws/" schemaLocation="DirectTopupSystemService.xsd" />
</xsd:schema>
</types>
<message name="ping">
<part name="parameters" element="tns:ping" />
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse" />
</message>
<message name="clientAccountBalance">
<part name="parameters" element="tns:clientAccountBalance" />
</message>
<message name="clientAccountBalanceResponse">
<part name="parameters" element="tns:clientAccountBalanceResponse" />
</message>
<message name="validateCard">
<part name="parameters" element="tns:validateCard" />
</message>
<message name="validateCardResponse">
<part name="parameters" element="tns:validateCardResponse" />
</message>
<message name="validateMSISDN">
<part name="parameters" element="tns:validateMSISDN" />
</message>
<message name="validateMSISDNResponse">
<part name="parameters" element="tns:validateMSISDNResponse" />
</message>
<message name="rechargeMSISDN">
<part name="parameters" element="tns:rechargeMSISDN" />
</message>
<message name="rechargeMSISDNResponse">
<part name="parameters" element="tns:rechargeMSISDNResponse" />
</message>
<message name="rechargeCard">
<part name="parameters" element="tns:rechargeCard" />
</message>
<message name="rechargeCardResponse">
<part name="parameters" element="tns:rechargeCardResponse" />
</message>
<message name="registerCard">
<part name="parameters" element="tns:registerCard" />
</message>
<message name="registerCardResponse">
<part name="parameters" element="tns:registerCardResponse" />
</message>
<message name="sendSMS">
<part name="parameters" element="tns:sendSMS" />
</message>
<message name="sendSMSResponse">
<part name="parameters" element="tns:sendSMSResponse" />
</message>
<message name="topUp">
<part name="parameters" element="tns:topUp" />
</message>
<message name="topUpResponse">
<part name="parameters" element="tns:topUpResponse" />
</message>
<message name="topUpSMS">
<part name="parameters" element="tns:topUpSMS" />
</message>
<message name="topUpSMSResponse">
<part name="parameters" element="tns:topUpSMSResponse" />
</message>
<message name="getRegisteredCardInfo">
<part name="parameters" element="tns:getRegisteredCardInfo" />
</message>
<message name="getRegisteredCardInfoResponse">
<part name="parameters" element="tns:getRegisteredCardInfoResponse" />
</message>
<message name="rechargeMSISDNFx">
<part name="parameters" element="tns:rechargeMSISDNFx" />
</message>
<message name="rechargeMSISDNFxResponse">
<part name="parameters" element="tns:rechargeMSISDNFxResponse" />
</message>
<message name="rechargeCardFx">
<part name="parameters" element="tns:rechargeCardFx" />
</message>
<message name="rechargeCardFxResponse">
<part name="parameters" element="tns:rechargeCardFxResponse" />
</message>
<message name="topUpFx">
<part name="parameters" element="tns:topUpFx" />
</message>
<message name="topUpFxResponse">
<part name="parameters" element="tns:topUpFxResponse" />
</message>
<message name="getDTSPingRequest">
<part name="parameters" element="tns:getDTSPingRequest" />
</message>
<message name="getDTSPingRequestResponse">
<part name="parameters" element="tns:getDTSPingRequestResponse" />
</message>
<message name="transactionStatus">
<part name="parameters" element="tns:transactionStatus" />
</message>
<message name="transactionStatusResponse">
<part name="parameters" element="tns:transactionStatusResponse" />
</message>
<message name="rechargeMSISDNWithDelay">
<part name="parameters" element="tns:rechargeMSISDNWithDelay" />
</message>
<message name="rechargeMSISDNWithDelayResponse">
<part name="parameters" element="tns:rechargeMSISDNWithDelayResponse" />
</message>
<message name="cancelTransaction">
<part name="parameters" element="tns:cancelTransaction" />
</message>
<message name="cancelTransactionResponse">
<part name="parameters" element="tns:cancelTransactionResponse" />
</message>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="logout">
<part name="parameters" element="tns:logout" />
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse" />
</message>
<portType name="DirectTopupSystemService">
<operation name="ping">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/pingRequest" message="tns:ping" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/pingResponse" message="tns:pingResponse" />
</operation>
<operation name="clientAccountBalance">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/clientAccountBalanceRequest" message="tns:clientAccountBalance" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/clientAccountBalanceResponse" message="tns:clientAccountBalanceResponse" />
</operation>
<operation name="validateCard">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/validateCardRequest" message="tns:validateCard" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/validateCardResponse" message="tns:validateCardResponse" />
</operation>
<operation name="validateMSISDN">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/validateMSISDNRequest" message="tns:validateMSISDN" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/validateMSISDNResponse" message="tns:validateMSISDNResponse" />
</operation>
<operation name="rechargeMSISDN">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/rechargeMSISDNRequest" message="tns:rechargeMSISDN" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/rechargeMSISDNResponse" message="tns:rechargeMSISDNResponse" />
</operation>
<operation name="rechargeCard">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/rechargeCardRequest" message="tns:rechargeCard" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/rechargeCardResponse" message="tns:rechargeCardResponse" />
</operation>
<operation name="registerCard">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/registerCardRequest" message="tns:registerCard" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/registerCardResponse" message="tns:registerCardResponse" />
</operation>
<operation name="sendSMS">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/sendSMSRequest" message="tns:sendSMS" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/sendSMSResponse" message="tns:sendSMSResponse" />
</operation>
<operation name="topUp">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/topUpRequest" message="tns:topUp" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/topUpResponse" message="tns:topUpResponse" />
</operation>
<operation name="topUpSMS">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/topUpSMSRequest" message="tns:topUpSMS" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/topUpSMSResponse" message="tns:topUpSMSResponse" />
</operation>
<operation name="getRegisteredCardInfo">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/getRegisteredCardInfoRequest" message="tns:getRegisteredCardInfo" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/getRegisteredCardInfoResponse" message="tns:getRegisteredCardInfoResponse" />
</operation>
<operation name="rechargeMSISDNFx">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/rechargeMSISDNFxRequest" message="tns:rechargeMSISDNFx" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/rechargeMSISDNFxResponse" message="tns:rechargeMSISDNFxResponse" />
</operation>
<operation name="rechargeCardFx">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/rechargeCardFxRequest" message="tns:rechargeCardFx" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/rechargeCardFxResponse" message="tns:rechargeCardFxResponse" />
</operation>
<operation name="topUpFx">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/topUpFxRequest" message="tns:topUpFx" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/topUpFxResponse" message="tns:topUpFxResponse" />
</operation>
<operation name="getDTSPingRequest">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/getDTSPingRequestRequest" message="tns:getDTSPingRequest" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/getDTSPingRequestResponse" message="tns:getDTSPingRequestResponse" />
</operation>
<operation name="transactionStatus">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/transactionStatusRequest" message="tns:transactionStatus" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/transactionStatusResponse" message="tns:transactionStatusResponse" />
</operation>
<operation name="rechargeMSISDNWithDelay">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/rechargeMSISDNWithDelayRequest" message="tns:rechargeMSISDNWithDelay" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/rechargeMSISDNWithDelayResponse" message="tns:rechargeMSISDNWithDelayResponse" />
</operation>
<operation name="cancelTransaction">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/cancelTransactionRequest" message="tns:cancelTransaction" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/cancelTransactionResponse" message="tns:cancelTransactionResponse" />
</operation>
<operation name="login">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/loginRequest" message="tns:login" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="logout">
<input wsam:Action="http://server.dtsws/DirectTopupSystemService/logoutRequest" message="tns:logout" />
<output wsam:Action="http://server.dtsws/DirectTopupSystemService/logoutResponse" message="tns:logoutResponse" />
</operation>
</portType>
<binding name="DirectTopupSystemServicePortBinding" type="tns:DirectTopupSystemService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="ping">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="clientAccountBalance">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validateCard">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validateMSISDN">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="rechargeMSISDN">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="rechargeCard">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="registerCard">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sendSMS">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="topUp">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="topUpSMS">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getRegisteredCardInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="rechargeMSISDNFx">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="rechargeCardFx">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="topUpFx">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDTSPingRequest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="transactionStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="rechargeMSISDNWithDelay">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cancelTransaction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="logout">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="DirectTopupSystemService">
<port name="DirectTopupSystemServicePort" binding="tns:DirectTopupSystemServicePortBinding">
<soap:address location="http://172.16.159.118:7081/dts-ws/DirectTopupSystemService" />
</port>
</service>
</definitions>
