Inov8/Inov8.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="iServService" targetNamespace="http://webservice.server.iserv.inov8.com/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.server.iserv.inov8.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.server.iserv.inov8.com/" xmlns="http://webservice.server.iserv.inov8.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="topupServiceBean">
<xs:sequence>
<xs:element minOccurs="0" name="accountBalance" type="xs:string" />
<xs:element minOccurs="0" name="accountBalanceCurrency" type="xs:string" />
<xs:element minOccurs="0" name="authCode" type="xs:string" />
<xs:element minOccurs="0" name="denominations" type="xs:string" />
<xs:element minOccurs="0" name="password" type="xs:string" />
<xs:element minOccurs="0" name="paymentOption" type="xs:string" />
<xs:element minOccurs="0" name="recipientMSISDN" type="xs:string" />
<xs:element minOccurs="0" name="responseCode" type="xs:string" />
<xs:element minOccurs="0" name="senderMSISDN" type="xs:string" />
<xs:element minOccurs="0" name="transactionCode" type="xs:string" />
<xs:element minOccurs="0" name="transactionID" type="xs:string" />
<xs:element minOccurs="0" name="transactionStatus" type="xs:string" />
<xs:element minOccurs="0" name="transactionStatusDescription" type="xs:string" />
<xs:element minOccurs="0" name="username" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:element name="transactionStatus" type="transactionStatus" />
<xs:complexType name="transactionStatus">
<xs:sequence>
<xs:element minOccurs="0" name="topupServiceBean" type="topupServiceBean" />
</xs:sequence>
</xs:complexType>
<xs:element name="transactionStatusResponse" type="transactionStatusResponse" />
<xs:complexType name="transactionStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="topupServiceBean" />
</xs:sequence>
</xs:complexType>
<xs:element name="validateMobileNumber" type="validateMobileNumber" />
<xs:complexType name="validateMobileNumber">
<xs:sequence>
<xs:element minOccurs="0" name="topupServiceBean" type="topupServiceBean" />
</xs:sequence>
</xs:complexType>
<xs:element name="validateMobileNumberResponse" type="validateMobileNumberResponse" />
<xs:complexType name="validateMobileNumberResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="topupServiceBean" />
</xs:sequence>
</xs:complexType>
<xs:element name="checkBalance" type="checkBalance" />
<xs:complexType name="checkBalance">
<xs:sequence>
<xs:element minOccurs="0" name="topupServiceBean" type="topupServiceBean" />
</xs:sequence>
</xs:complexType>
<xs:element name="checkBalanceResponse" type="checkBalanceResponse" />
<xs:complexType name="checkBalanceResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="topupServiceBean" />
</xs:sequence>
</xs:complexType>
<xs:element name="topupRequest" type="topupRequest" />
<xs:complexType name="topupRequest">
<xs:sequence>
<xs:element minOccurs="0" name="topupServiceBean" type="topupServiceBean" />
</xs:sequence>
</xs:complexType>
<xs:element name="topupRequestResponse" type="topupRequestResponse" />
<xs:complexType name="topupRequestResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="topupServiceBean" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="transactionStatus">
    <wsdl:part element="tns:transactionStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkBalanceResponse">
    <wsdl:part element="tns:checkBalanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkBalance">
    <wsdl:part element="tns:checkBalance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="topupRequestResponse">
    <wsdl:part element="tns:topupRequestResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateMobileNumber">
    <wsdl:part element="tns:validateMobileNumber" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateMobileNumberResponse">
    <wsdl:part element="tns:validateMobileNumberResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="topupRequest">
    <wsdl:part element="tns:topupRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="transactionStatusResponse">
    <wsdl:part element="tns:transactionStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TopupServiceController">
    <wsdl:operation name="transactionStatus">
      <wsdl:input message="tns:transactionStatus" name="transactionStatus">
    </wsdl:input>
      <wsdl:output message="tns:transactionStatusResponse" name="transactionStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateMobileNumber">
      <wsdl:input message="tns:validateMobileNumber" name="validateMobileNumber">
    </wsdl:input>
      <wsdl:output message="tns:validateMobileNumberResponse" name="validateMobileNumberResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkBalance">
      <wsdl:input message="tns:checkBalance" name="checkBalance">
    </wsdl:input>
      <wsdl:output message="tns:checkBalanceResponse" name="checkBalanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topupRequest">
      <wsdl:input message="tns:topupRequest" name="topupRequest">
    </wsdl:input>
      <wsdl:output message="tns:topupRequestResponse" name="topupRequestResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="iServServiceSoapBinding" type="tns:TopupServiceController">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="transactionStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="transactionStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="transactionStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateMobileNumber">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validateMobileNumber">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateMobileNumberResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkBalance">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="checkBalance">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkBalanceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topupRequest">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="topupRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="topupRequestResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="iServService">
    <wsdl:port binding="tns:iServServiceSoapBinding" name="TopupServiceControllerImplPort">
      <soap:address location="http://192.168.180.13/iserv/services/iservService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
