VivaBO/NuevaTel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://vas.nuevatel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://vas.nuevatel.com/" name="WSPAPAWSService">
<types>
<xsd:schema>
<!-- <xsd:import namespace="http://vas.nuevatel.com/" schemaLocation="http://10.20.3.7:8303/wspapaApplication?xsd=1"/> -->
<xsd:import namespace="http://vas.nuevatel.com/" schemaLocation="NuevaTel.xsd1"/>
</xsd:schema>
</types>
<message name="addBalance">
<part name="parameters" element="tns:addBalance"/>
</message>
<message name="addBalanceResponse">
<part name="parameters" element="tns:addBalanceResponse"/>
</message>
<message name="getBalance">
<part name="parameters" element="tns:getBalance"/>
</message>
<message name="getBalanceResponse">
<part name="parameters" element="tns:getBalanceResponse"/>
</message>
<message name="providerBalance">
<part name="parameters" element="tns:providerBalance"/>
</message>
<message name="providerBalanceResponse">
<part name="parameters" element="tns:providerBalanceResponse"/>
</message>
<message name="topUp">
<part name="parameters" element="tns:topUp"/>
</message>
<message name="topUpResponse">
<part name="parameters" element="tns:topUpResponse"/>
</message>
<message name="topUpCheck">
<part name="parameters" element="tns:topUpCheck"/>
</message>
<message name="topUpCheckResponse">
<part name="parameters" element="tns:topUpCheckResponse"/>
</message>
<message name="topUpReverse">
<part name="parameters" element="tns:topUpReverse"/>
</message>
<message name="topUpReverseResponse">
<part name="parameters" element="tns:topUpReverseResponse"/>
</message>
<message name="unreconciledTransactions">
<part name="parameters" element="tns:unreconciledTransactions"/>
</message>
<message name="unreconciledTransactionsResponse">
<part name="parameters" element="tns:unreconciledTransactionsResponse"/>
</message>
<message name="retrieveUnreconciledTransactions">
<part name="parameters" element="tns:retrieveUnreconciledTransactions"/>
</message>
<message name="retrieveUnreconciledTransactionsResponse">
<part name="parameters" element="tns:retrieveUnreconciledTransactionsResponse"/>
</message>
<message name="transactionConcilationTraffic">
<part name="parameters" element="tns:transactionConcilationTraffic"/>
</message>
<message name="transactionConcilationTrafficResponse">
<part name="parameters" element="tns:transactionConcilationTrafficResponse"/>
</message>
<message name="start">
<part name="parameters" element="tns:start"/>
</message>
<message name="startResponse">
<part name="parameters" element="tns:startResponse"/>
</message>
<message name="stop">
<part name="parameters" element="tns:stop"/>
</message>
<message name="stopResponse">
<part name="parameters" element="tns:stopResponse"/>
</message>
<message name="execute">
<part name="parameters" element="tns:execute"/>
</message>
<message name="executeResponse">
<part name="parameters" element="tns:executeResponse"/>
</message>
<message name="getWSAddress">
<part name="parameters" element="tns:getWSAddress"/>
</message>
<message name="getWSAddressResponse">
<part name="parameters" element="tns:getWSAddressResponse"/>
</message>
<message name="getVASComponentState">
<part name="parameters" element="tns:getVASComponentState"/>
</message>
<message name="getVASComponentStateResponse">
<part name="parameters" element="tns:getVASComponentStateResponse"/>
</message>
<message name="getVASComponentStateList">
<part name="parameters" element="tns:getVASComponentStateList"/>
</message>
<message name="getVASComponentStateListResponse">
<part name="parameters" element="tns:getVASComponentStateListResponse"/>
</message>
<portType name="WSPAPAWS">
<operation name="addBalance">
<input message="tns:addBalance"/>
<output message="tns:addBalanceResponse"/>
</operation>
<operation name="getBalance">
<input message="tns:getBalance"/>
<output message="tns:getBalanceResponse"/>
</operation>
<operation name="providerBalance">
<input message="tns:providerBalance"/>
<output message="tns:providerBalanceResponse"/>
</operation>
<operation name="topUp">
<input message="tns:topUp"/>
<output message="tns:topUpResponse"/>
</operation>
<operation name="topUpCheck">
<input message="tns:topUpCheck"/>
<output message="tns:topUpCheckResponse"/>
</operation>
<operation name="topUpReverse">
<input message="tns:topUpReverse"/>
<output message="tns:topUpReverseResponse"/>
</operation>
<operation name="unreconciledTransactions">
<input message="tns:unreconciledTransactions"/>
<output message="tns:unreconciledTransactionsResponse"/>
</operation>
<operation name="retrieveUnreconciledTransactions">
<input message="tns:retrieveUnreconciledTransactions"/>
<output message="tns:retrieveUnreconciledTransactionsResponse"/>
</operation>
<operation name="transactionConcilationTraffic">
<input message="tns:transactionConcilationTraffic"/>
<output message="tns:transactionConcilationTrafficResponse"/>
</operation>
<operation name="start">
<input message="tns:start"/>
<output message="tns:startResponse"/>
</operation>
<operation name="stop">
<input message="tns:stop"/>
<output message="tns:stopResponse"/>
</operation>
<operation name="execute">
<input message="tns:execute"/>
<output message="tns:executeResponse"/>
</operation>
<operation name="getWSAddress">
<input message="tns:getWSAddress"/>
<output message="tns:getWSAddressResponse"/>
</operation>
<operation name="getVASComponentState">
<input message="tns:getVASComponentState"/>
<output message="tns:getVASComponentStateResponse"/>
</operation>
<operation name="getVASComponentStateList">
<input message="tns:getVASComponentStateList"/>
<output message="tns:getVASComponentStateListResponse"/>
</operation>
</portType>
<binding name="WSPAPAPortBinding" type="tns:WSPAPAWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="providerBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="topUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="topUpCheck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="topUpReverse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unreconciledTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveUnreconciledTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transactionConcilationTraffic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="start">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="stop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="execute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWSAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVASComponentState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVASComponentStateList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSPAPAWSService">
<port name="WSPAPAPort" binding="tns:WSPAPAPortBinding">
<soap:address location="http://10.20.3.7:8303/wspapaApplication"/>
</port>
</service>
</definitions>
